<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <title>Contact User Grid | Skote - Responsive Bootstrap 4 Admin Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description">
    <meta content="Themesbrand" name="author">
    <!-- App favicon -->
    <link rel="shortcut icon" href="/admin/assets/images/favicon.ico">
      <!-- datepicker css -->
    <link href="/admin/assets/libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet">

    <!-- Summernote css -->
    <link href="/admin/assets/libs/summernote/summernote-bs4.min.css" rel="stylesheet" type="text/css">
    <!-- Bootstrap Css -->
    <link href="/admin/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!-- Icons Css -->
    <link href="/admin/assets/css/icons.min.css" rel="stylesheet" type="text/css">
    <!-- App Css-->
    <link href="/admin/assets/css/app.min.css" rel="stylesheet" type="text/css">

    <link href="/admin/assets/libs/toastr/build/toastr.min.css" rel="stylesheet" type="text/css">

    <!-- Custom css -->
     <link href="/admin/assets/css/custom.css" rel="stylesheet" type="text/css">
</head>

<body data-sidebar="dark">

    <!-- Begin page -->
    <div id="layout-wrapper">

        <%= render partial: "admin/shared/header" %>


        <!-- ========== Left Sidebar Start ========== -->
        <div class="vertical-menu">

            <div data-simplebar="" class="h-100">

                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <!-- Left Menu Start -->
                    <ul class="metismenu list-unstyled" id="side-menu">
                        <li class="menu-title">Menu</li>

                        <li>
                            <a href="<%= admin_root_path %>" class="waves-effect">
                                <i class="bx bx-home-circle"></i>
                                <span>Dashboards</span>
                            </a>
                        </li>
                        <li class="menu-title">Apps</li>

                        <li>
                            <a href="<%= admin_posts_path %>" class=" waves-effect">
                                <i class="bx bx-pencil"></i>
                                <span> Quản lý bài viết</span>
                            </a>
                        </li>
                        <% if current_user.role == "super_admin" %>
                            <li>
                                <a href="javascript: void(0);" >
                                    <i class="bx bx-user-circle"></i>
                                    <span>Quản lý User</span>
                                </a>

                            </li>
                        <% end %>

                         <% if current_user.role == "super_admin" %>
                             <li>
                            <a href="javascript: void(0);" class="">
                                <i class="bx bx-file"></i>
                                <span>Quản lý Danh Mục</span>
                            </a>

                        </li>
                       
                        <% end %>
                        
                    </ul>
                </div>
                <!-- Sidebar -->
            </div>
        </div>
        <!-- Left Sidebar End -->

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">
                

                    <%= yield %>

                </div> <!-- container-fluid -->
            </div>
            <!-- End Page-content -->


            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <script>
                                document.write(new Date().getFullYear())
                            </script> © Skote.
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-right d-none d-sm-block">
                                Design & Develop by Themesbrand
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <!-- end main content-->

    </div>

                


    <!-- JAVASCRIPT -->
    <script src="/admin/assets/libs/jquery/jquery.min.js"></script>
    <script src="/admin/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/admin/assets/libs/metismenu/metisMenu.min.js"></script>
    <script src="/admin/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="/admin/assets/libs/node-waves/waves.min.js"></script>

        <!-- bootstrap datepicker -->
    <script src="/admin/assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>

    <!-- Summernote js -->
    <script src="/admin/assets/libs/summernote/summernote-bs4.min.js"></script>
    
    <!-- form repeater js -->
    <script src="/admin/assets/libs/jquery.repeater/jquery.repeater.min.js"></script>

    <script src="/admin/assets/js/pages/task-create.init.js"></script>
    <!-- App js -->
    <script src="/admin/assets/js/app.js"></script>
    <script src="/admin/assets/js/test.js"></script>
    <!-- Toast js -->
    
    <script src="/admin/assets/libs/toastr/build/toastr.min.js"></script>
    <% if notice.present? %>
    <script>
             toastr["success"]("<%= notice %> ")
    </script>
    <% end %>

    <% if alert.present? %>
         <script>
             toastr["error"]("<%= alert %> ")
    </script>
    <% end %>

    <script>
           // console.log(123)
           $('.title_post, .peralink_post').keyup(function(){
                let input = $(this).val();
                $(".peralink_post").val(get_permalink(removeVietnameseTones(input)))
            });
            
            function get_permalink(title){
                return title.split(" ").join("-")
            }
            function removeVietnameseTones(str) {
                    str = str.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g,"a"); 
                    str = str.replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ/g,"e"); 
                    str = str.replace(/ì|í|ị|ỉ|ĩ/g,"i"); 
                    str = str.replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ/g,"o"); 
                    str = str.replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g,"u"); 
                    str = str.replace(/ỳ|ý|ỵ|ỷ|ỹ/g,"y"); 
                    str = str.replace(/đ/g,"d");
                    str = str.replace(/À|Á|Ạ|Ả|Ã|Â|Ầ|Ấ|Ậ|Ẩ|Ẫ|Ă|Ằ|Ắ|Ặ|Ẳ|Ẵ/g, "A");
                    str = str.replace(/È|É|Ẹ|Ẻ|Ẽ|Ê|Ề|Ế|Ệ|Ể|Ễ/g, "E");
                    str = str.replace(/Ì|Í|Ị|Ỉ|Ĩ/g, "I");
                    str = str.replace(/Ò|Ó|Ọ|Ỏ|Õ|Ô|Ồ|Ố|Ộ|Ổ|Ỗ|Ơ|Ờ|Ớ|Ợ|Ở|Ỡ/g, "O");
                    str = str.replace(/Ù|Ú|Ụ|Ủ|Ũ|Ư|Ừ|Ứ|Ự|Ử|Ữ/g, "U");
                    str = str.replace(/Ỳ|Ý|Ỵ|Ỷ|Ỹ/g, "Y");
                    str = str.replace(/Đ/g, "D");
                    // Some system encode vietnamese combining accent as individual utf-8 characters
                    // Một vài bộ encode coi các dấu mũ, dấu chữ như một kí tự riêng biệt nên thêm hai dòng này
                    str = str.replace(/\u0300|\u0301|\u0303|\u0309|\u0323/g, ""); // ̀ ́ ̃ ̉ ̣  huyền, sắc, ngã, hỏi, nặng
                    str = str.replace(/\u02C6|\u0306|\u031B/g, ""); // ˆ ̆ ̛  Â, Ê, Ă, Ơ, Ư
                    // Remove extra spaces
                    // Bỏ các khoảng trắng liền nhau
                    str = str.replace(/ + /g," ");
                    str = str.trim();
                    // Remove punctuations
                    // Bỏ dấu câu, kí tự đặc biệt
                    str = str.replace(/!|@|%|\^|\*|\(|\)|\+|\=|\<|\>|\?|\/|,|\.|\:|\;|\'|\"|\&|\#|\[|\]|~|\$|_|`|-|{|}|\||\\/g," ");
                    return str;
                }
    </script>
</body>
</html>